body{
    text-align:center;
    color: rgb(255, 0, 0);
    font-family:Helvetica;
    background-color:green;
}

#flex-container{
    display:flex;
    justify-content:center;
}
#flex-items{
    background-color: bisque;
    margin-left:30px;
    border:3px black groover;
}
img{
    width:100px;
    height:100px
}
h1:hover{
    transform:scale(1.6);
}
